* {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(37, 38, 39);
}

form {
	margin-bottom: 20px;
}

img, #title, #alert {
	display: none;
}

input, #alert {
	height: 40px;
	border-radius: 4px;
}

#alert {
	position: fixed;
	bottom: 50px;
	background: rgb(211, 47, 47);
	width: 50vw;
	justify-content: center;
	align-items: center;
}

input {
	border: none;
	background: rgb(24, 25, 27);
	text-align: center;
}

input[type=submit] {
	border: none;
	background: #6718cf;
	cursor: pointer;
	padding: 0 6px;
	width: 10vw;
	min-width: 80px;
}

input[type=submit]:hover {
	background: #9e77f3;
}

label {
	width: 100px;
	display: inline-block;
}

form > div {
	margin: 10px 0;
}