* {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(37, 38, 39);
}

form {
	margin-bottom: 20px;
}

#intermediate {
	flex-direction: column;
	align-items: center;
}

#button, #intermediate, #alert, img {
	display: none;
}

#intermediate > img {
	display: block;
}

#button, input, #alert {
	height: 40px;
	border-radius: 4px;
}

#button {
	margin-top: 20px;
}

#alert {
	position: fixed;
	bottom: 50px;
	background: rgb(211, 47, 47);
	width: 50vw;
	justify-content: center;
	align-items: center;
}

input {
	border: none;
	background: rgb(24, 25, 27);
	text-align: center;
}

.button {
	border: none;
	background: #6718cf;
	padding: 0 6px;
	width: 10vw;
	min-width: 200px;
}

.button:hover:not([disabled]) {
	background: #9e77f3;
	cursor: pointer;
}

label {
	width: 250px;
	display: inline-block;
}

form > div {
	margin: 10px 0;
}

.thresholds {
	display: flex;
	align-items: center;
}

.thresholds > input {
	margin: 0 5px;
}

.margin-right {
	margin-right: 20px;
}